{% extends "shop/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    {% if category %}{{ category.title }}{% else %}Components{% endif %}
{% endblock %}
{% block content %}
    <div class="row" style="width: 100%;">
        <div class="col-md-8">
            <div class="carousel">
              <div class="carousel-container">
                {% for image_object in component.images.all %}
                    <img class="item-img-list" src="{{ image_object.image.url }}">
                {% endfor %}
                <!-- Add as many images as you want -->
              </div>
              <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
              <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
        </div>
         <div class="col-md-8">
            <h1>{{ component.name }}</h1>
            <h5><a href="{{ product.category.get_absolute_url }}">{{ component.category }}</a></h5>
            <h5 class="price">Бренд: {{ component.brand }}</h5>
            <h5 class="price">Серийный номер: {{ component.serial_number }}</h5>
            <h5 class="price">{{ component.price }} {{ component.currency }}</h5>
            {{ component.description|linebreaks }}

         </div>
        <br>
        <!--
        <form action="{#% url 'cart:cart_add' component.id %}" method="post" style="margin-top: 10px;">
            <h5>{#{ cart_product_form }}
            {#% csrf_token %}
            <input class="btn btn-outline-dark mt-auto" type="submit" value="Add to cart"></h5>
        </form>
        -->
    </div>
{% endblock %}
